.font-face (@path, @fontname, @fontfile, @svg) {
  @font-face {
    font-family: @fontname;
    src: url("@{font_url}@{path}@{fontfile}.eot");
    src: url("@{font_url}@{path}@{fontfile}.eot?#iefix") format('embedded-opentype'),
    url("@{font_url}@{path}@{fontfile}.woff") format('woff'),
    url('@{font_url}@{path}@{fontfile}.woff2') format('woff2'),
    url("@{font_url}@{path}@{fontfile}.ttf") format('truetype'),
    url('@{font_url}@{path}@{fontfile}.svg#@{svg}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

.clear(){
  &:after{
    content: "";
    display: block;
    clear: both;
  }
}

.border-radius(@vars){
  -webkit-border-radius: @vars;
  -moz-border-radius: @vars;
  -ms-border-radius: @vars;
  -o-border-radius: @vars;
  border-radius: @vars;
}

.transition(@string){
  -webkit-transition: @string;
  -moz-transition: 	 @string;
  -ms-transition: 		 @string;
  -o-transition: 		 @string;
  transition: 		 @string;
}