@font_url: '../fonts/';

@color_text: #2a2a2a;
@color_text-date: #292929;
@color_text-light: #b4b4b4;
@color_text-lang-hover: #333333;
@color_text-footer: #98989a;

@color_bg-grey: #f9f9f9;
@color_bg-yellow: #f19336;
@color_bg-blue: #49aef1;
@color_bg-purple: #91348f;
@color_bg-green: #9dbb42;
@color_bg-dark: #1d2124;

@font_style: 'GloberThin',sans-serif;
@font_style-bold: 'GloberBold',sans-serif;

@width-cont: 1024px;