html,
body{
  margin: 0;
  padding: 0;
}

.container-fluid{
  width: 100%;
  text-align: center;
}

.container{
  width: @width-cont;
  margin: auto;
  text-align: left;
}

@import "header";
@import "nav";
@import "feature";
@import "footer";