.size(@height){
  .feature{
    .slides{
      height: @height;

      li{
        height: @height;
      }
    }

    .slide{
      height: @height;
    }
  }
}

.feature{
  margin: 0;
  padding: 0;
  min-width: @width-cont;
  position: relative;

  .slides{
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    overflow: hidden;

    li{
      display: block;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;

      &.active{
        z-index: 10;
      }
    }
  }

  .slide{
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  p.nav-elements{
    margin: 0;
    padding: 0;

    a{
      display: block;
      width: 40px;
      height: 60px;
      font-size: 60px;
      line-height: 60px;
      font-weight: 300;
      color: #ffffff;
      position: absolute;
      top: 50%;
      margin-top: -30px;
      z-index: 20;
      cursor: pointer;
      .transition(0.3s);

      &:hover{
        font-size: 62px;
      }

      &.prev{
        left: 40px;
      }
      &.next{
        right: 40px;
      }
    }
  }
}

.size(593px);

@media (max-width: 1400px) {
  .size(400px);
}