.header{
  padding: 20px 0;
  .clear();

  .logo{
    display: block;
    float: left;
    margin-right: 20px;

    img{
      width: 288px;
      height: auto;
    }
  }

  .info{
    margin: 0;
    padding: 6px 0 0 0;
    float: left;
    text-transform: uppercase;
    font: normal 25px @font_style-bold;
    color: @color_text;

    .date{
      display: block;
      font-family: @font_style;
      color: @color_text-date;
      font-size: 21px;
      padding-bottom: 0;
    }
  }

  .right{
    display: block;
    float: right;
    text-align: right;
  }
}
@import "social";
@import "language";