.language{
  list-style-type: none;
  padding: 16px 0 0 0;
  margin: 0;

  >li{
    display: inline-block;
    height: 13px;
    vertical-align: top;
    padding: 0 5px 0 8px;

    + li{
      border-left: 1px @color_text-light solid;
    }

    a{
      vertical-align: top;
      display: inline-block;
      color: @color_text-light;
      text-decoration: none;
      text-transform: uppercase;
      font: normal 13px/13px @font_style;
      .transition(0.5s);

      &.active,
      &:hover{
        color: @color_text-lang-hover;
      }
    }
  }
}