.navbar{
  background: @color_bg-grey;
  text-align: center;

  &-panel{
    width: @width-cont + 20;
    margin: 0 auto;
    padding: 0;
    .clear();

    >li{
      display: block;
      width: 25%;
      height: 58px;
      overflow: hidden;
      float: left;
      text-align: center;

      >a{
        display: block;
        text-decoration: none;
        width: auto;
        margin: 0 10px;
        height: 58px;
        background: @color_bg-yellow;
        color: #ffffff;
        font: normal 20px/58px @font_style-bold;
        text-transform: uppercase;
      }

      + li {
        a{
          background-color: @color_bg-blue;
        }

        +li{
          a{
            background-color: @color_bg-purple;
          }

          +li{
            a{
              background-color: @color_bg-green;
            }
          }
        }
      }
    }
  }
}

.nav-list{
  margin: 0 -30px;
  padding: 50px 0 40px 0;
  width: @width-cont + 60;
  .clear();

  &_item{
    width: 50%;
    float: left;
    vertical-align: top;
    display: inline-block;

    &_content{
      margin: 0 30px;
      padding-bottom: 40px;
      width: auto;
      text-align: left;
      color: @color_text;
      font: normal 18px @font_style;

      p{
        padding: 0 0 20px 0;
        margin: 0;
      }
    }

    &-more-link{
      font-family: @font_style-bold;
      font-size: 14px;
      text-transform: uppercase;
      border-bottom: 1px @color_text-light solid;
      cursor: pointer;
      .transition(0.3s);

      &:hover{
        border-bottom-color: transparent;
      }
    }

    &-title{
      background: @color_bg-yellow;
      color: #ffffff;
      font: normal 20px/60px @font_style-bold;
      text-transform: uppercase;
      text-indent: 28px;
      margin: 0 0 34px 0!important;
      padding: 0!important;
      .clear();

      img{
        height: 60px;
        width: auto;
        float: right;
      }
    }

    & + & {
      .nav-list_item-title{
        background-color: @color_bg-blue;
      }
    }

    & + & + &{
      .nav-list_item-title{
        background-color: @color_bg-purple;
      }
    }

    & + & + & + &{
      .nav-list_item-title{
        background-color: @color_bg-green;
      }
    }
  }
}