.social{
  list-style-type: none;
  padding: 0;
  margin: 0;

  >li{
    display: inline-block;

    >a{
      color: #ffffff;
      text-decoration: none;
      display: inline-block;
      text-align: center;
      height: 30px;
      line-height: 30px;
      width: 30px;
      background: @color_text-light;
      .border-radius(15px);
      .transition(0.5s);

      &:hover{
        background: lighten(@color_text-light,20%);
      }
    }
  }
}